.inputmodal-body {
  display: flex;
  flex-direction: row;
  gap: 20px;

  /* margin-top: 15px; */

  min-height: 400px;
}

.input-section > p {
  font-size: 1rem;
}

.input-section button {
  padding: 3px 10px;
  font-size: 1.1rem;
  
}

.image-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.inputmodal-result {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.text-input {
  min-width: 400px;
}

textarea {
  height: 300px;
}

.text-input > button {
  margin-top: 20px;
}

.inputmodal-result > * {
  margin: 5px 0;
}